
.league-spartan {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
 
section {
    max-width: 600px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
 
#parte1, #parte2 {
    display: none;
}
 
@media only screen and (max-width: 600px) {
    section {
        max-width: 100%;
    }
 
    #parte1, #parte2 {
        display: block;
    }
}
 
a {
    color: red;
    text-decoration: none;
}
 
p {
    text-align: justify;
}
 
.personajes{
    width: 80%;
    height: 300px;
    text-align: center;
}
 
.bloque img {
    margin-top: 35px;
    margin: 5px;
}
 
 
.contenedor {
    position: relative;
    text-align: center; /* Centrar el texto */
}
 
.cabecera {
    width: 100%; /* Ajustar tamaño de la imagen, el % lo escogemos nosotros */
    height: 600px; /* Proporción de la imagen */
}
 
.textocabe{
    position: absolute;
    top: 50%; /* Posición verticalmente */
    left: 50%; /* Posición horizontalmente */
    transform: translate(-50%, -50%); /* Centrar el texto en el centro */
    color: white; /* Color texto */
    font-size: 24px; /* Tamaño texto */
    font-weight: bold; /* Poner el texto en negrita */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
}